<div data-ng-init="doctype=el.doctype?el.doctype:el.doctype_r"
	data-ng-switch="doctype">
	<span class="w3-tiny am-b"> field name <a
		class="w3-btn w3-ripple w3-padding-small" href="#"
		data-ng-click="ctrl.field_name_save(el)"> OK </a> <i
		data-ng-click="ctrl.field_name_focus2(el)"
		class="w3-right fas fa-sync-alt"></i>
	</span> <span data-ng-switch-when="23"> <input type="number"
		data-ng-focus="ctrl.field_name_focus(el)"
		data-ng-model="d.value_1_edit" class="w3-border">
	</span> <span data-ng-switch-default> <textarea
			data-ng-focus="ctrl.field_name_focus(el)"
			data-ng-model="d.value_1_edit" class="w3-border">
	</span>
</div>