<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev2/legalEntitie.js"></script>
</head>
<body class="w3-container">
	<h1 class="w3-container w3-small">
		<span data-ng-include="'/f/home-link.html'"></span> &nbsp;
		{{ctrl.page_title}}
	</h1>
	<div class="w3-row">
		<div class="w3-half w3-border">
			<div class="w3-blue-gray">
				<div class="w3-container w3-tiny w3-right-align am-i">Редагування</div>
			</div>
			<div class="w3-container">
				<div data-ng-repeat="leE in ctrl.docLeagalEntitie.children">
					{{ctrl.i18_name(leE)}}
					<div data-ng-if="leE.children" class="w3-border w3-container">
						<div data-ng-repeat="leE2 in leE.children">a3
							{{ctrl.i18_name(leE2)}}</div>
						a2
					</div>
					<div data-ng-if="!leE.children">
						<input class="w3-border am-width-100pr"
							data-ng-focus="ctrl.focus_field(leE)"
							d1ata-ng-change="ctrl.change_text_field(leE)"
							>
					</div>
					<div data-ng-if="$last">&nbsp;</div>
				</div>
			</div>
		</div>
		<div class="w3-half w3-border">
			<div class="w3-blue-gray">
				<div class="w3-container w3-tiny w3-right-align am-i">Лікувальні
					заклади - список</div>
			</div>
			<div>
				<div class="w3-card">
					<div class="w3-container w3-small">
						<button class="w3-border" data-ng-click="ctrl.newClinic()">новий</button>
					</div>
				</div>
				<div data-ng-repeat="clinicEl in ctrl.clinic_list"
					data-ng-click="ctrl.setEditClinic(clinicEl)"
					data-ng-class="{'w3-light-gray':clinicEl.doc_id==ctrl.edit_clinic.doc_id}"
					class="w3-hover-shadow">
					{{clinicEl.doc_id}}
					</div>
			</div>
		</div>
		<div class="w3-half w3-border">
			<div class="w3-blue-gray">
				<div class="w3-container w3-tiny w3-right-align am-i">Вид</div>
			</div>
			<div class="w3-container">
				<div class="w3-code w3-tiny">{{ctrl.edit_clinic}}</div>
			</div>
		</div>
	</div>
	</div>

</body>
</html>