<div>
	<div data-ng-repeat="cell in [ctrl.eMap[row.ref_to_col[col.doc_id]]]">
		<span data-ng-class="{'w3-tiny':row.rowOpenToEdit}"
			data-ng-switch="col.doctype"> <span data-ng-switch-default>
				{{cell['value_1_'+cell.doctype_r]}} </span> <span data-ng-switch-when="25">
				{{cell['value_1_'+cell.doctype_r] | date:'mediumDate'}}
				{{cell['value_1_'+cell.doctype_r] | date:'mediumTime'}} </span>
		</span>
		<div data-ng-if="row.rowOpenToEdit && !(col.reference)"
			data-ng-switch="col.doctype">
			<div data-ng-switch-default>
				<input class="w3-border am-width-100pr"
					data-ng-model="cell.value_1_edit"
					data-ng-focus="ctrl.inputFocus(row, col, cell)"
					data-ng-blur="ctrl.inputBlur(cell, row, col)" />
			</div>
			<div data-ng-switch-when="25"
			class="w3-small"
			>
				<input type="date" data-ng-model="cell.value_1_edit_date"
					data-ng-focus="ctrl.inputFocus(row, col, cell)"
					data-ng-blur="ctrl.inputBlurTS(cell)" class="w3-border"> <input
					type="number" data-ng-focus="ctrl.inputFocus(row, col, cell)"
					data-ng-blur="ctrl.inputBlurTS(cell, 'hour')"
					data-ng-change="ctrl.inputBlurTS(cell, 'hour')"
					data-ng-model="cell.value_1_edit_hour" min="0" max="23"
					style="width: 40px" class="w3-border">:<input type="number"
					data-ng-focus="ctrl.inputFocus(row, col, cell)"
					data-ng-blur="ctrl.inputBlurTS(cell, 'minute')"
					data-ng-change="ctrl.inputBlurTS(cell, 'minute')"
					data-ng-model="cell.value_1_edit_minute" min="0" max="59"
					style="width: 40px" class="w3-border"> <span
					data-ng-click="ctrl.inputBlurTSdirect(cell)"
					class="w3-btn w3-ripple w3-padding-small">ok</span>
			</div>
		</div>
	</div>
	<span data-ng-if="col.reference"> <span class="w3-tiny"
		data-ng-repeat="formula in [ctrl.eMap[col.reference]] | filter:{reference2:369364}">
			{{ctrl.calc_cell2(row, col, formula)}}
			{{row['calc_value_'+col.doc_id]}} </span>
	</span>
</div>