<tr class="w3-hover-shadow"
	data-ng-repeat-start="row in ctrl.eMap[data_tab.doc_id].children | filter:{reference:ctrl.eMap[table_modelOfdata_id].doc_id}">
	<td>#</td>
	<td data-ng-repeat="col in ctrl.eMap[table_model.doc_id].children">
		<span class="w3-tiny"
		data-ng-repeat="formula in [ctrl.eMap[col.reference]] | filter:{reference2:369364}">
			{{ctrl.calc_cell2(row, col, formula)}}
			{{row['calc_value_'+col.doc_id]}} </span>
	</td>
</tr>
<tr data-ng-repeat-end data-ng-if="$last">
	<td>*</td>
	<td data-ng-repeat="col in ctrl.eMap[table_model.doc_id].children">
		<div data-ng-repeat="col_fn in col.children"
			data-ng-if="369364 == ctrl.eMap[ctrl.eMap[col_fn.reference].parent].reference">
			<span class="w3-tiny am-b w3-hover-shadow"
				data-ng-click="ctrl['calc_'+ctrl.eMap[col_fn.reference].value_1_22](col_fn)">
				{{col_fn.value_1_22}}<span data-ng-if="!col_fn.value_1_22">
					{{ctrl.eMap[col_fn.reference].value_1_22}}</span>:
			</span>
			<div>{{col_fn.calc_value}}
			{{col_fn.children[0].value_1_24}}
			</div>
		</div>
	</td>
</tr>