<div>
	<table class="am-amk025-table"	>
		<thead>
			<tr class="w3-small">
				<th class="w3-border w3-border-black"
					data-ng-repeat="col in o.children">{{col.value}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in [1,2,3,4,5]"
				data-ng-init="rowIndex = $index">
				<td class="w3-border w3-border-black"
					data-ng-init="colIndex = $index" data-ng-repeat="col in o.children">
<span
					class="w3-hover-shadow am-no-print"
					data-ng-if="rowIndex==0&&colIndex==0"> <i class="fa fa-plus"
						aria-hidden="true"></i> <span class="w3-tiny"></span>
				</span>
					 &nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div>