<div>
	<table class="am-amk025-table">
		<thead>
			<tr class="w3-small">
				<th class="w3-border w3-border-black"
					data-ng-repeat="col in o.children">{{col.value}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in elementsMap[85151].children"
				data-ng-init="rowIndex = $index">
				<td class="w3-border w3-border-black"
					data-ng-init="colIndex = $index" data-ng-repeat="col in o.children">
					<span data-ng-if="0==colIndex"> {{row.value}} </span> &nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div>