<div data-ng-if="ctrl.sql_exe.list2exe">
	<div class="w3-light-gray">
		<div class="w3-right">
			<i class="fas fa-tools"></i>
			<button class="w3-btn w3-padding-small"
				data-ng-click="ctrl.sql_exe.show_sql_type='value_1_22'">каскад</button>
			<button class="w3-btn w3-padding-small"
				data-ng-click="ctrl.sql_exe.show_sql_type='read_sql'">
				<i class="fas fa-terminal"></i>
			</button>
		</div>
		SQL <span data-ng-repeat="(v,k) in ctrl.sql_exe.list2exe"> | <a
			data-ng-class="{'w3-yellow':ctrl.sql_exe.sql_id==v}"
			data-ng-click="ctrl.sql_exe.read(v)" href="#"> {{v}} </a>
		</span>
	</div>
	<div
		class="w3-tiny w3-border-bottom am-b w3-hover-shadow w3-light-gray"
		data-ng-click="ctrl.sql_exe.notShow_sql=!ctrl.sql_exe.notShow_sql">
		<i class="fas fa-terminal"></i>:
		{{ctrl.eMap[ctrl.eMap[ctrl.sql_exe.sql_id].ref_to_col[371335]].value_1_22}}
	</div>
	<div class="w3-tiny w3-responsive"
		data-ng-if="!ctrl.sql_exe.notShow_sql">
		<div data-ng-if="ctrl.sql_exe.show_sql_type=='value_1_22'">
			<pre>
<span data-ng-repeat="v in ctrl.eMap[ctrl.sql_exe.sql_id].value_1_22.split(':sql_')"><a
	data-ng-if="$index>0" href="#"
	data-ng-click="ctrl.sql_exe.add2exe(v.split(' ')[0]);ctrl.sql_exe.read(v.split(' ')[0])"
	>:sql_{{v.split(' ')[0]}}:<b>{{
	ctrl.eMap[ctrl.eMap[v.split(' ')[0]].ref_to_col[371335]].value_1_22}}</b></a>{{$index>0?v.replace(v.split(' ')[0],''):v}}</span>
</pre>
		</div>
		<pre
			data-ng-if="ctrl.sql_exe.show_sql_type=='read_sql' || !ctrl.sql_exe.show_sql_type">
{{ctrl.sql_exe.read_sql}}
</pre>
	</div>
	<div class="w3-responsive">
		<table>
			<thead class="w3-tiny w3-light-gray">
				<tr>
					<th data-ng-repeat="(k,v) in ctrl.sql_exe.readList[0]">{{k}}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="row in ctrl.sql_exe.readList">
					<td data-ng-repeat="(k,v) in row">{{v}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>