<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl" lang="uk-UA">
<meta charset="utf-8" />
<title>Вікі, алгорітмед</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.12.0/css/all.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app003.js"></script>
<script src="/f/index.js"></script>
<script src="/f/js/data001.js"></script>

<body class="w3-container am-max-width-1">
	<div class="w3-border-bottom">
		<span data-ng-include="'/f/home-link.html'" class="w3-small0"></span>
		<div class="w3-right">
			<span data-ng-include="'/f/btn-to-login.html'"></span>
			<span class="w3-panel w3-right w3-leftbar w3-sand w3-serif"
				style="font-style: italic;">
				Вікі, тестування і розробки 
				<a href="http://algoritmed.com/">
				<img alt=""
					src="http://algoritmed.com/img/logo-algoritmed.svg" width="100">
				</a>
			</span>
		</div>
	</div>

	<div class="am-b">Модулі НСЗУ</div>
	<a
		href="https://e-health-ua.atlassian.net/servicedesk/customer/portal/6/group/35/create/107"
		class="w3-right w3-small">
		<img alt="" src="https://e-health-ua.atlassian.net/rest/servicedesk/1/customer/viewport-resources/image/4" height="12">
		e-health-ua <i class="fas fa-external-link-alt"></i>
	</a>
	<div data-ng-repeat="d in ctrl.module_nszu">
		<div title="{{d.number}}">{{d.text}}</div>
		<div data-ng-if="d.children" class="w3-container">
			<div data-ng-repeat="d1 in d.children">
				<div title="{{d1.number}}">{{d1.text}}</div>
				<div data-ng-switch="d1.number" class="">
					<div data-ng-switch-when="3.5.3" class="w3-container w3-border">
						<div>
							<a href="/f/c/7/zoz-employee.html"> Реєстрація персоналу </a>
						</div>
					</div>
					<div data-ng-switch-when="3.5.2" class="w3-container w3-border">
						<div>
							<a href="/f/c/7/zoz.html"> Реєстрація закладу </a>
						</div>
						<div>
							<a href="/f/c/7/zoz-division.html"> Реєстрація підрозділів </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 
	<h1 class="w3-container">Аптека НСЗУ електроний рецепт</h1>
	 -->
	<div class="w3-row-padding">
		<div class="w3-half">
			<div class="w3-border">
				<div>Електроний рецепт</div>
				<ul>
					<li><a href="/f/recept/start1.html">рецепт</a></li>
				</ul>
			</div>
		</div>
		<div class="w3-half">
			<div class="w3-border">
				<div>Реєстрація аптеки</div>
				<ul>
					<li><a href="/f/apteka/start1.html">аптека</a></li>
					<li><a href="/f/new_apteka/start2.html">Реєстрація нової
							аптеки</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="w3-container">
		<div class="am-b">Модулі АЛГОРІТМЕД</div>
		<div class="w3-right">
			<span style="font-style: italic;"
				class="w13-panel w3-right w3-leftbar w3-sand w3-serif w13-small">
				&nbsp; <a
				href="http://jast002.algoritmed.com/f/c/11/eh004.html?doc2doc=369362,371774,371784,371780,371778,371777&views=doc">
					OfficeWorkStation </a>
			</span>
		</div>
		<div>
			<a href="/f/dev3/icpc2-icd10-relation-001.html"> Словники
				електроних медичних записів, DUODECIM </a>
		</div>
		<div>
			<a href="/f/c/11/eh004.html?doc2doc=367547,45">Редактор даних
				DEMO</a>, <a href="http://jast002.algoritmed.com/">редактор даних
				PREPROD</a>.
		</div>
		<div>
			<span class="w3-small"> Для тих хто мислить формами МОЗ: </span> <a
				href="/f/025/o.html?l1=85089&amk=85319">ф.025/о</a>, <a
				href="/f/003/o.html">ф.003/о </a>
		</div>
		<div>
			<a href="/f/summary-01.04/Summary-NSZU-MIS.html">Резюме НСЗУ -
				МІС</a>
		</div>
	</div>
</body>
</html>
