<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.12.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk-ua.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/f/js/app003.js"></script>
<script src="/f/js/crud001.js"></script>
<script src="/f/c/7/zoz.js"></script>
</head>
<body>
	<div class="w3-container">
		<div data-ng-include="'/f/c/7/zoz-head.html'"></div>
		<div data-ng-include="'/f/c/8/need-login.html'"
			data-ng-if="!ctrl.principal"></div>
		<div data-ng-if="ctrl.principal">
			<div data-ng-if="ctrl.zoz">ЗОЗ {{ctrl.zoz.doc_id}}</div>
			<div data-ng-if="!ctrl.zoz">
				<button data-ng-click="ctrl.click_open_dialog_create_zoz()"
					class="w3-btn w3-ripple">{{ctrl.notes.create_zoz}}</button>
				<div data-ng-if="ctrl.open_dialog_create_zoz" class="w3-card">
					<div class="w3-right w3-small">
						<span class=" w3-gray">{{ctrl.notes.create_zoz}}</span> <span
							class="w3-right w3-hover-shadow"> &nbsp; x &nbsp; </span>
					</div>
					Ви головний лікар і створюєте ЗОЗ для реєстрації в НСЗУ через
					систему eHealth
					<div>
						<button data-ng-click="ctrl.click_create_zoz()"
							class="w3-btn w3-ripple">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>