<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.12.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/f/js/app003.js"></script>
<script src="/f/dev7/achi.js"></script>
</head>
<body>
	<div class="w3-container">
		<div class="w3-border-bottom">
			<span data-ng-include="'/f/home-link.html'" class="w3-small0"></span>
		</div>
		<div class="w3-border-bottom">
			<i class="fas fa-ambulance"></i>
		</div>
		<div class="w3-row">
			<div class="w3-half w3-rightbar w3-border-white">
				<div class="w3-right w3-tiny">{{ctrl.seek_achi_cnt[0].count}}
				</div>
				<div class="w3-border-bottom w13-center">
					Пошук: <input class="w3-border"
						data-ng-change="ctrl.seekLogic.seek_fn()"
						data-ng-model="ctrl.seekLogic.seek_value"> <i
						class="fas fa-search w3-btn"
						data-ng-click="ctrl.seekLogic.seek_engine()"
						></i>
						<i class="fas fa-minus w3-btn"
						data-ng-click="ctrl.seek_clean()"
						></i>
				</div>
				<div data-ng-include="'/f/dev7/achi-seek.html'"></div>
			</div>
			<div class="w3-half w3-border-left">
				<div class="w3-border-bottom">
					<div class="w3-small" style="height: 5vh">
						<i class="fas fa-filter"></i> 
						<span
							data-ng-if="ctrl.l2_fn.filters.l2">| <span
							class="w3-dropdown-hover w3-tiny"> Тип:
								{{ctrl.l2_fn.filters.l2.n5}}
								<div class="w3-dropdown-content w3-card">
									<a title="Видалити" class="w3-button"
										data-ng-click="ctrl.l2_fn.remove_filter()"> <i
										class="fas fa-trash "></i>
									</a>
								</div>
						</span> {{ctrl.l2_fn.filters.l2.n6}}
						</span> 
						<span data-ng-if="!ctrl.l1_fn.filters.l1 && ctrl.l0_fn.filters.l0"> <span
							class="w3-tiny"> <span class="w3-dropdown-hover">
									{{ctrl.l0_fn.filters.l0.l0s}}:
									<div class="w3-dropdown-content w3-card">
										<a title="Видалити" class="w3-button"
											data-ng-click="ctrl.l0_fn.remove_filter('l0')"> <i
											class="fas fa-trash "></i>
										</a>
									</div>
							</span>
						</span> {{ctrl.l0_fn.filters.l0.n2}}
						</span> 
						<span data-ng-if="ctrl.l1_fn.filters.l1">| <span
							class="w3-dropdown-hover w3-tiny"> Локалізація:
								{{ctrl.l1_fn.filters.l1.l0s}}
								<div class="w3-dropdown-content w3-card">
									<a title="Видалити" class="w3-button"
										data-ng-click="ctrl.l1_fn.remove_filter('l1')"> <i
										class="fas fa-trash "></i>
									</a>
								</div>
						</span> {{ctrl.l1_fn.filters.l1.n4}}
						</span>
					</div>
				</div>
				<div data-ng-include="'/f/dev7/achi-block.html'"></div>
				<div data-ng-include="'/f/dev7/achi-typology.html'"></div>
				<div data-ng-include="'/f/dev7/achi-anatomy.html'"></div>
				<div data-ng-include="'/f/dev7/achi-class.html'"></div>
			</div>
		</div>
	</div>
</body>
</html>