<div>
	<div class="w3-row w3-small am-b">
		<div data-ng-repeat="(k,val) in ctrl.achi_seek_head">
			<div data-ng-if="!$last"
				class="w3-col w3-gray w3-border w3-hover-shadow"
				data-ng-style="val.style">{{val.n}}</div>
			<div data-ng-if="$last"
				class="w3-rest w3-gray w3-border w3-hover-shadow">
				<div class="w3-right w3-tiny">4<sup>р</sup>&nbsp;</div>
				{{val.n}}</div>
		</div>
	</div>
	<div style="max-height: 80vh; overflow: auto;"
		data-ng-if="!ctrl.seek_fn.close" class="w3-border-bottom">
		<div data-ng-repeat="l0 in ctrl.seek_achi"
			class="w3-row w3-hover-shadow"
			data-ng-click="ctrl.l0_fn.click_row(l0)">
			<a href="#">
				<div data-ng-repeat="(k,val) in ctrl.achi_seek_head"
					data-ng-init="nh_last=$last">
					<div data-ng-if="!nh_last" class="w3-col w3-small"
						data-ng-style="val.style">
						{{l0[k]}} <span class="w3-tiny">[{{l0.n7}}]</span>
					</div>
					<div data-ng-if="nh_last" class="w3-rest "
						ng-bind-html="ctrl.highlight(l0[k], ctrl.seekLogic.seek_value)">
					</div>
				</div>
			</a>
		</div>
	</div>
</div>