<div data-ng-repeat="c in ctrl.elementsMap[c0.model_id].children"
	data-ng-init="att_name=c.s1value?c.s1value:c.r1value;att_val=c">
	<span class="w3-tiny am-b" title="{{att_name}}">
		{{c.i18n?c.i18n:att_name}}: </span> <span class="w3-tiny w3-right"
		data-ng-if="true||c.reference"> {{c.doc_id}}/{{c.reference}} -
		{{ctrl.elementsMap[c.reference].cnt_child}}/
		{{ctrl.elementsMap[c.reference].children.length}} &nbsp; </span>
	<div d2ata-ng-if="37==c.doctype" class="w3-container"
		data-ng-if="115789==ctrl.elementsMap[ctrl.elementsMap[c0.model_id].att_name__id[att_name]].doc_id">
		<div
			data-ng-repeat="c0 in [{model_id:ctrl.elementsMap[ctrl.elementsMap[c0.model_id].att_name__id[att_name]].reference}]"
			data-ng-include="'/f/c/10/1_edit/db_model.html'"></div>
	</div>
</div>
