<div data-ng-repeat="c in ctrl.elementsMap[c0.model_id].children"
	data-ng-init="att_name=c.s1value?c.s1value:c.r1value;att_val=ed_obj[att_name];
	att_name__id=ctrl.elementsMap[c0.model_id].att_name__id[att_name]
	"
	data-ng-switch="ctrl.isTypeof(att_val)">
	<div data-ng-switch-when="string">
		<span class="w3-tiny am-b am-u" title="{{att_name}}">{{c.i18n?c.i18n:att_name}}:</span>&nbsp; {{att_val}}
		<span class="w3-tiny"
			data-ng-if="ctrl.keys(ctrl.request.parameters).indexOf('dev')>=0">
			{{att_name__id}}/{{ ctrl.elementsMap[att_name__id].reference}}/{{
			ctrl.elementsMap[ ctrl.elementsMap[att_name__id].reference
			].att_name__id[att_val]}} </span>
	</div>
	<div data-ng-switch-default>
		<span
			data-ng-if="ctrl.keys(ctrl.request.parameters).indexOf('dev')>=0">
			{{ctrl.isTypeof(att_val)}} </span> <span class="w3-tiny am-b am-u"
			title="{{att_name}}">{{c.i18n?c.i18n:att_name}}:</span> <span
			data-ng-if="ctrl.keys(ctrl.request.parameters).indexOf('dev')>=0"
			class="w3-tiny">
			{{ctrl.elementsMap[att_name__id].doc_id}}/{{c.doctype}} </span> <span
			data-ng-if="c.doctype==32"> {{att_val.length}} {{att_val}} </span>
		<div d2ata-ng-if="37==c.doctype"
			data-ng-if="115789==ctrl.elementsMap[ctrl.elementsMap[c0.model_id].att_name__id[att_name]].doc_id">
			<div data-ng-repeat="d in att_val">
				<div
					data-ng-repeat="c0 in [{model_id:ctrl.elementsMap[ctrl.elementsMap[c0.model_id].att_name__id[att_name]].reference}]"
					data-ng-init="ed_obj=d" class="w3-container"
					data-ng-include="'/f/c/10/1_edit/dp_children.html'"></div>
			</div>
		</div>
	</div>
</div>