<div class="w3-container" style="max-height: 68vh; overflow: auto;">
	<div data-ng-repeat="l in ctrl.duodecim_name_list">
		<span class="w3-tiny" data-ng-include="'/f/dev4/emb_name_menu.html'"></span>
		<span data-ng-click="ctrl.clickICPC2DuodecimOne(l)"
			class="w3-hover-shadow"
			ng-bind-html="ctrl.highlight(l.protocol_name, ctrl.seekLogic.seek_value)"></span>
		<span data-ng-click="ctrl.clickICPC2DuodecimOne(l)"
			class="w3-hover-shadow" data-ng-if="!l.protocol_name">
			________назва_________ </span>
	</div>
	<p>&nbsp;</p>
</div>