<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev4/icpc2duodecim.js"></script>
</head>
<body class="w3-container">
	<div class="am-max-width-1 w3-card">
		<div class="w3-container w3-small am-no-print w3-display-container">
			<span data-ng-include="'/f/home-link.html'"></span> 
			<span
				data-ng-include="'/f/dev4/top-menu1.html'"></span>
		</div>
		<div class="w3-center w3-border-bottom1">
			Пошук: <input class="w3-border"
			data-ng-change="ctrl.seekLogic.seek_fn()"
			data-ng-model="ctrl.seekLogic.seek_value"
			>
		</div>
		<div class="w3-container">
			<!-- 
			<div data-ng-include="'/f/dev3/icpc2-db-group-color.html'"></div>
		 -->
			<div class="w3-row">
				<div class="w3-twothird w3-border-top1">
					<div data-ng-include="'/f/dev4/select-filter.html'"></div>
					<div class="w3-row am-b w3-border-bottom">
						<div class="w3-half">
							<span data-ng-click="ctrl.click_icpc2_count_sort('ICPC2')"
								class="w3-hover-shadow">ICPC2</span> <span
								data-ng-click="ctrl.click_icpc2_count_sort('cnt')"
								class="w3-hover-shadow w3-right">cnt</span>
						</div>
						<div class="w3-half w3-center w3-border-left">Протоколи</div>
					</div>
					<div data-ng-repeat="i2d in [ctrl.clickedI2d]"
						data-ng-if="i2d && ctrl.clickedI2d.ref_icpc2 == i2d.ref_icpc2"
						data-ng-init="icpc2Code=i2d.icpc2;e=i2d">
						<div data-ng-include="'/f/dev4/icpc2duodecim_row.html'"></div>
						<div data-ng-include="'/f/dev4/icpc2DuodecimIcpc2.html'"></div>
					</div>
					<div style="max-height: 400px; overflow: auto;">
						<div data-ng-repeat="i2d in ctrl.icpc2duodecims"
							data-ng-init="icpc2Code=i2d.icpc2;e=i2d">
							<div data-ng-include="'/f/dev4/icpc2duodecim_row.html'"></div>
						</div>
					</div>
				</div>
				<div class="w3-third w3-border-left am-no-print">
					<div class="w3-container w3-small">
						<i class="fas fa-bars"></i> <a
							href="/f/dev3/icpc2-icd10-relation-001.html"> ICPC2-ICD10 </a>
					</div>
					<div class="w3-container">ICPC2</div>
					<div data-ng-include="'/f/dev3/icpc2-db-group-color.html'"></div>
					<div class="w3-container w3-border-bottom">
						DUODECIM
						<div class="w3-right w3-tiny">
							{{ctrl.duodecim_name_count[0].count}} /
							{{ctrl.duodecim_name_count[1].count}}</div>
					</div>
					<div data-ng-include="'/f/dev4/duodecim-right-panel.html'"></div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>