<div class="w3-card">
	<div class="w3-row">
		<div class="w3-half">
			<div class="am-b">ICPC2</div>
			<div data-ng-repeat="l in ctrl.clickedI2dICPC2List"
				data-ng-init="e=l">
				<span class="w3-tiny"
					data-ng-include="'/f/dev3/icpc2-code-colored.html'"></span> -
				{{l.i18n}}
			</div>
		</div>
		<div class="w3-half w3-container">
			<div class="am-b">duodecim</div>
			<div data-ng-repeat="l in ctrl.clickedI2dList">
				<span data-ng-include="'/f/dev4/emb_name_menu.html'"></span>
				<div class="w3-card" data-ng-if="ctrl.edProtocol.o.embname == l.embname">
					<span class="w3-right w3-btn w3-padding-small"
						data-ng-click="ctrl.edProtocol.edName(l)">x</span> <span>
						<i class="fas fa-heading"></i>азва протоколу
					</span>
					<div>
						<textarea class="w3-border am-width-100pr"
							data-ng-model="ctrl.edProtocol.o.nameValue"></textarea>
					</div>
					<button data-ng-click="ctrl.edProtocol.saveName()" class="w3-btn">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>