<div>
	-*-<span class="w3-border w3-padding-small w3-tiny"
		data-ng-if="ctrl.db_icpc2.clickColor"> > <span
		data-ng-repeat="(kc,vc) in ctrl.db_icpc2.clickColorObject"
		data-ng-include="'/f/dev3/icpc2-db-color-element.html'"> </span>
	</span> <span class="w3-border w3-padding-small w3-tiny"
		data-ng-if="ctrl.db_icpc2.clickOrgan"> > <span
		data-ng-repeat="(kg,vg) in ctrl.db_icpc2.clickOrganObject"
		data-ng-include="'/f/dev3/icpc2-db-organ-element.html'"> </span>
		&nbsp;
		{{ctrl.db_icpc2.clickOrganObject[ctrl.db_icpc2.clickOrgan].i18n}}
	</span> <span class="w3-border" data-ng-if="ctrl.seekLogic.seek_value">
		> <span
		data-ng-click="ctrl.seekLogic.seek_remove()"
		> {{ctrl.seekLogic.seek_value}} </span>
	</span>
</div>