<div>
	<div class="w3-tiny w3-grey">
		<span class="w3-light-grey am-b w3-right"> :edit-box: </span> <i
			title="Створити"
			data-ng-click="ctrl.copyDP_legal_entity(ctrl.legal_entity_edit_obj);"
			class="w3-btn w3-ripple far fa-file"></i> | <span class="w3-small w3-light-grey">
			{{ctrl.legal_entity_edit_obj.edrpou}}</span>&nbsp;
		{{ctrl.legal_entity_edit_obj.id}}
	</div>
	<div class="w3-border-bottom">конвертація в БД</div>
	<div class="w3-row">
		<div class="w3-third ">
			<div class="w3-tiny w3-grey w3-right">дані:</div>
			read data form DB
		</div>
		<div class="w3-third w3-border-left">
			<div class="w3-tiny w3-grey w3-left">
				<span class="am-b">ДБ</span>: модель
			</div>
			<div data-ng-repeat="c0 in [{model_id:115827}]"
				data-ng-include="'/f/c/10/1_edit/db_model.html'"
				data-ng-init="ed_obj=ctrl.legal_entity_edit_obj"></div>
		</div>
		<div class="w3-third w3-border-left">
			<div class="w3-tiny w3-grey w3-right">
				дані :<span class="am-b">НСЗУ</span>:
			</div>
			<div data-ng-repeat="c0 in [{model_id:115827}]"
				data-ng-init="ed_obj=ctrl.legal_entity_edit_obj"
				data-ng-include="'/f/c/10/1_edit/dp_children.html'"></div>
		</div>
	</div>
	<!-- 
	<div class="w3-border-top">
		<span class="w3-tiny am-b"
			data-ng-repeat="(att_name,att_val) in ctrl.legal_entity_edit_obj">
			{{att_name}}, </span>
	</div>
	 -->
</div>