<div>
	{{ctrl.doctype_short[ddEl.doctype]}}{{ddEl.doctype}} <i
		data-ng-if="ctrl.doctype_fa[ddEl.doctype]"
		class="{{ctrl.doctype_fa[ddEl.doctype]}}"></i> <span class="am-b">
		{{ddEl.value_1_22}}: {{ddEl.i18n}} </span> <span class="w3-right"> <span
		data-ng-if="ctrl.doc2doc_fd[ddEl.doc_id].doc_id"> <span
			title="{{ctrl.doc2doc_fd[ddEl.doc_id].folder.value_1_22}}"> <i
				class="far fa-folder"></i>
				{{ctrl.doc2doc_fd[ddEl.doc_id].folder.doc_id}}
				{{ctrl.doc2doc_fd[ddEl.doc_id].folder.value_1_22.substring(0,4)}}&hellip;
		</span> <span
		title="{{ctrl.doc2doc_fd[ddEl.doc_id].value_1_22}}"
		> <i class="far fa-file"></i>
				{{ctrl.doc2doc_fd[ddEl.doc_id].doc_id}}
				{{ctrl.doc2doc_fd[ddEl.doc_id].value_1_22.substring(0,4)}}&hellip;
		</span>
	</span>
	</span>
</div>