<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.12.0/css/all.min.css">
<link rel="stylesheet"
	href="/webjars/material-design-icons/3.0.1/material-icons.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk-ua.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/f/js/app004.js"></script>
<script src="/f/js/crud004.js"></script>
<script src="/f/c/11/eh004.js"></script>
</head>
<body data-ng-click="ctrl.bodyClick()">
	<div class="w3-container am-max-width-1">
		<div class="w3-border-bottom">
			<div class="w3-right" data-ng-include="'/f/btn-to-login.html'"></div>
			<span data-ng-repeat="cnf in [{show_title:'no'}]"
				data-ng-include="'/f/home-link.html'" class="w3-small0 am-b"></span> <a href="#" data-ng-click="ctrl.reload_page()"> <span
				class="am-b w3-small"> {{ctrl.page_title}} </span>
			</a> <i class="fas fa-sliders-h"></i>
		</div>
		<div class="w3-row">
			<div class="w3-half w3-border-right">
				<div class="w3-tiny " data-ng-include="'/f/c/11/dd_head.html'"
					data-ng-repeat="ddEl in [ctrl.eMap[ctrl.doc2doc_ids[0]]]"></div>
				<div
					data-ng-repeat="oCon in [{edEl_id:ctrl.doc2doc_ids[0], 
				edpv:'value'
				}] "
					data-ng-include="'/f/c/11/data_model.html'"></div>
				<div data-ng-include="'/f/c/11/invoice/invoice002.html'"></div>
				<div data-ng-include="'/f/c/11/sql_exe/f.html'"></div>
			</div>
			<div class="w3-half ">
				<div class="w3-tiny " data-ng-include="'/f/c/11/dd_head.html'"
					data-ng-repeat="ddEl in [ctrl.eMap[ctrl.doc2doc_ids[1]]]"></div>
				<div
					data-ng-repeat="oCon in [{edEl_id:ctrl.doc2doc_ids[1],
				edpv:'value2'
				}] "
					data-ng-include="'/f/c/11/data_model.html'"></div>
			</div>
		</div>
	</div>
</body>
</html>