<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<meta charset="utf-8" />
<title>eРецепт</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app001.js"></script>
<script src="/f/recept/start1.js"></script>
<body class="w13-container">
<div data-ng-repeat="o in [{page_title:'рецепт',page_group:'провізор'}]"
		data-ng-include="'/f/page-head.html'"></div>
	<div class="w3-row-padding">
		<div class="w3-twothird">
			<div class="w3-small am-b w3-hover-shadow">Відпущені рецепти в
				аптеці:</div>
			<div class="w3-border" style="margin-bottom: 8px;">
				<div data-ng-repeat="o in [recept_template.docRoot.children[2]]"
					data-ng-include="'/f/recept/table_recepts.html'"
					data-ng-init="rowAttName = 'row_'+o.doc_id+'_id';"></div>
			</div>
			<div class="w3-small am-b">Отриманий рецепт по ID:</div>
			<div class="w3-border" style="margin-bottom: 8px;">
				<div data-ng-repeat="o in [recept_sample]"
					data-ng-include="'/f/recept/eR1.html'"></div>
			</div>
		</div>
		<div class="w3-third">
			<div class="w3-small am-b">Уточненя рецепту:</div>
			<div class="w3-border" style="margin-bottom: 8px;">
				<div data-ng-repeat="o in [recept_template.docRoot.children[2]]"
					data-ng-include="'/f/recept/edit_col.html'"></div>
			</div>
		</div>
	</div>
</body>
</html>