<div>
<!-- phone
 -->
<!-- phone.type
id:115805
ref:116966:PHONE_TYPE
 -->
	<span data-ng-repeat="o_id in [115805]"
		data-ng-init="elementsMap[o_id]; name_path = ['legal_entitie', 'children', 'phones',o.value];"
		data-ng-include="'/f/new_apteka/select3.html'"></span>
<!-- phone.number
 -->
	<div data-ng-repeat="o_id in [115804]"
		data-ng-init="o = elementsMap[o_id]; name_path = ['legal_entitie', 'children', 'phones',o.value];"
		data-ng-include="'/f/new_apteka/input_text2.html'"></div>
</div>
