<div class="w3-row-padding">
	<div class="w3-quarter ">
		<div class="w3-right-align" title="{{o.doc_id}}, {{o.value}}">
			<a href="#" class="w3-btn" data-ng-click="ctrl.editDoc.addList(o)">+</a>
			<span class="am-b"> {{fieldName(['legal_entitie',o.value])}} </span>
		</div>
	</div>
	<div class="w3-threequarter">
		<div data-ng-repeat="vEl in o.value_elements">
			<div class="w3-block w3-hover-shadow"
				data-ng-click="ctrl.editDoc.openToEdit(vEl)">
				<i class="fa fa-pencil-square-o"
					data-ng-if="vEl.openToEdit" aria-hidden="true"></i>
				{{vEl.doc_id}}
				{{vEl.children}}
				<span
				data-ng-repeat="vEl2 in vEl.children"
				>
				{{vEl2.doc_id}}
				
				</span>
			</div>
			<div
				class="w3-hide w3-border w3-border-green w3-container w3-display-container"
				data-ng-class="{'w3-show':vEl.openToEdit}">
				<span data-ng-click="ctrl.editDoc.openToEdit(vEl)" title="Закрити"
					class="w3-button w3-display-topright">×</span>

				<div>
					<!-- ADDRESS_TYPE -->
					<span data-ng-repeat="o_id in [115806]"
						data-ng-init="o = elementsMap[o_id]; parentValEl = vEl;"
						data-ng-include="'/f/new_apteka/select2.html'"></span>
				</div>
				<div data-ng-repeat="o2 in elementsMap[o.reference].children">
					{{o2.doc_id}} {{o2.value}}</div>
			</div>
		</div>
	</div>
</div>
