<div>
	<button class="w3-border">Запис</button>
	<div data-ng-repeat="o in legal_entitie_template.children"
		data-ng-switch="o.value">
		<div class="w3-row-padding" data-ng-switch-default>
			<div class="w3-quarter ">
				<div class="w3-right-align" title="{{o.doc_id}}, {{o.value}}">
					<span class="am-b"> {{fieldName(['legal_entitie',o.value])}}
					</span>
				</div>
			</div>
			<div class="w3-threequarter">
				<div data-ng-if="o.reference">
					<input data-ng-focus="editDoc.focus(o)" class="w3-border w3-input"
						data-ng-if="!elementsMap[o.reference]"> <select
						data-ng-if="elementsMap[o.reference]"
						data-ng-blur="editDoc.blur_select(o)"
						ng-model="o.value_element['reference2']"
						class="w3-border w3-input">
						<option value="{{o2.doc_id}}"
							ng-repeat="o2 in elementsMap[o.reference].children">
							{{o2.value_ua}}</option>
					</select> {{elementsMap[o.reference]}}
				</div>
				<div data-ng-if="!o.reference">
					<input data-ng-change1="editDoc.change(o)"
						data-ng-model="o.value_element['value']"
						data-ng-focus="editDoc.focus(o)" 
						data-ng-blur="editDoc.blur(o)"
						class="w3-border w3-input">
					{{elementsMap[o.value_element.parent].doc_id}}
				</div>
			</div>
		</div>
	</div>
</div>