<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl" lang="uk-UA">
<meta charset="utf-8" />
<title>Реєстрація нової аптеки</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app001.js"></script>
<script src="/f/new_apteka/start1.js"></script>
<body>
	<div
		data-ng-repeat="o in [{page_title:'Реєстрація нової аптеки', page_group:'Адмін сторінка закладу'}]"
		data-ng-include="'/f/page-head.html'"></div>
	<div class="w3-container" style="margin-top: 2px;">
		<div data-ng-if="!ctrl.legal_entitie">
			<button class="w3-border" data-ng-click="ctrl.createNewAptek()">Створити
				нову аптеку</button>
		</div>
		<div data-ng-if="ctrl.legal_entitie">
			<button class="w3-border">Запис</button>
			<div data-ng-repeat="o in legal_entitie_template.children"
				data-ng-switch="o.value">
				<div class="w3-row-padding" data-ng-switch-default>
					<div class="w3-quarter ">
						<div class="w3-right-align" title="{{o.doc_id}}">
							<span class="am-b">
								{{fieldName(['legal_entitie',o.value])}} </span>
						</div>
					</div>
					<div class="w3-threequarter">
						<input data-ng-change1="editDoc.change(o)"
						data-ng-model="o.value_element['value']"
							data-ng-focus="editDoc.focus(o)" data-ng-blur="editDoc.blur(o)"
							class="w3-border w3-input">
								{{elementsMap[o.value_element.parent].doc_id}}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>