<div data-ng-repeat="e in el.children" data-ng-switch="e.reference">
	<p data-ng-switch-when="371359">{{e.value_1_22}}
	<div data-ng-if="$first && e.parent==file.doc_id"
		data-ng-include="'/f/c/11/wiki/Contents.html'"></div>
	</p>
	<h2 id="_{{e.doc_id}}" class="w3-border-bottom"
		data-ng-switch-when="371364">
		<span class="w3-tooltip"> {{e.value_1_22}} <span
			class="w3-text"> <a href="#_{{e.doc_id}}"> <i
					class="fas fa-link fa-flip-horizontal fa-xs w3-opacity"></i>
			</a>
		</span>
		</span>
	</h2>
	<ol data-ng-switch-when="371367">
		<li data-ng-repeat="li in el.children">{{li.value_1_22}}</li>
	</ol>
	<div data-ng-if="e.children" data-ng-init="el=e"
		data-ng-include="'/f/c/11/wiki/children.html'"></div>
</div>