<div data-ng-repeat="d in children">
	<div
		data-ng-class="{'w3-border w3-border-green':d.doc_id==ctrl.choice_data_model_obj.doc_id}">
		<span class="w3-tiny w3-dropdown-hover w3-hover-shadow w3-white"
			data-ng-class="{'w3-green':ctrl.choice_data_model_obj.doc_id==d.doc_id}">
			<span data-ng-if="!d.children">☰</span> <span data-ng-if="d.children">
				<i class="fas fa-ellipsis-h"
				data-ng-if="d.children && !d.children_close"></i> <span
				data-ng-if="d.children && d.children_close"> <i
					class="fas fa-ellipsis-v"></i>&nbsp;&nbsp;
			</span>
		</span> [{{d.doc_id}}] <span data-ng-include="'/f/c6/doctype_short.html'"></span>
			<div class="w3-dropdown-content w3-card-4"
			style="width: 180px"
			>
				<div>
						<a href="#" ng-click="doc_data.upElement(el)" title="догори"
							class="w13-bar-item w3-button"><i class="fas fa-caret-up"></i></a>
						<a href="#" ng-click="doc_data.downElement(el)" title="донизу"
							class="w13-bar-item w3-button"><i class="fas fa-caret-down"></i></a>
						| <a href="#" ng-click="doc_data.addElement(el)"
							title="Додати запис" class="w3-button"><i class="fa fa-plus"></i></a>
						<a href="#" ng-click="doc_data.minusElement(el)"
							title="Видалити запис" class="w3-button"><i
							class="fa fa-minus"></i></a>
					</div>
					<div>
					.
					</div>
			</div>
		</span> <a class="w3-hover-shadow" href="#"
			data-ng-click="ctrl.select_tree_item(d)"><span
			data-ng-if="d.i1value"> {{d.i1value}}.</span> {{d.s1value }} <span
			data-ng-if="d.i18n"> - {{d.i18n}} </span> <span
			data-ng-if="!d.s1value && !d.i18n"> -- ? -- </span>
		</a>&nbsp; <span class="w3-tiny" data-ng-if="d.reference">
			{{d.reference}} </span> <span data-ng-if="d.reference2" class="w3-tiny">
			{{'{'+d.reference2+'}'}} </span> <sup
			data-ng-if="d.children && d.children_close" class="w3-tiny am-b">[{{d.children.length}}]</sup>
		<span
			data-ng-if="ctrl.doc_data_shortView['_'+ctrl.choice_data_model.doc_id].includes(d.doc_id)">
			<i class="fas fa-check"></i>
		</span> <span
			data-ng-if="d.doc_id==ctrl.choice_data_model_obj.doc_id"
			class="w3-right w3-green">&nbsp; <a href="#"
			data-ng-click="ctrl.click_data_model_edit_obj()"><i
				class="fas fa-edit"></i> </a>
		</span>
		<div data-ng-include="'/f/c6/data_model_edit_obj.html'"></div>
	</div>
	<div data-ng-if="d.children && !d.children_close"
		class="w3-border-left w3-container">
		<div data-ng-repeat="children in [d.children]"
			data-ng-include="'/f/c6/data_model_children.html'"></div>
	</div>
</div>
