<div>
	<div class="w3-row w3-light-gray w3-small w3-border-bottom">
		<div class="w3-col" style="width: 130px">
			<span data-ng-repeat="edpv in ['value']"
				data-ng-include="'/f/dev4/fa_ed_protocol.html'"></span> <span
				class=" am-b"> data_model <!-- 
				{{ctrl.choice_data_model.s1value}}
				 -->
			</span>
			<div class="w3-right w3-tiny">
				{{ctrl.choice_data_model.children.length}}</div>
			<div>
				<span class="w3-dropdown-hover w3-hover-shadow "> ☰ <!-- 
				<i class=" fa fa-ellipsis-h ng-scope"></i>
				 --> <span class="w3-tiny"> {{ctrl.choice_data_model.doc_id}}
				</span>
					<div class="w3-dropdown-content w3-card-4">
						<a href="#" ng-click="ctrl.addElement_data_model_edit_obj()"
							title="Додати запис" class="w3-button"><i class="fa fa-plus"></i></a>
						<div>
							<div class="w3-hover-shadow">.</div>
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="w3-rest w3-border-left">
			<i class="fas fa-caret-left w3-btn w3-right w3-medium"
				data-ng-click="ctrl.style.width_min('model_data_row')"></i> <span
				class="w3-text-blue"> &nbsp; <i class="fas fa-tools"></i> <i
				class="fas fa-terminal"></i>
			</span>
			<div class="w3-btn"
				data-ng-class="{'w3-green':ctrl.is_data_model_edit_part_name_actual('s1value')}"
				data-ng-click="ctrl.click_data_model_edit_obj(); ctrl.click_data_model_edit_part_name='s1value'"
				title="Редагувати назву поля">
				<i class="fas fa-ad"></i>
			</div>
			<div class="w3-btn"
				data-ng-class="{'w3-green':ctrl.is_data_model_edit_part_name_actual('i18n')}"
				data-ng-click="ctrl.click_data_model_edit_obj(); ctrl.click_data_model_edit_part_name='i18n'"
				title="Редагувати переклад">
				<i class="fas fa-edit"></i>
				<!-- 
				<i class="fas fa-language w3-large"></i>
				<i class="fas fa-globe-europe"></i>
				 -->
				<i class="fas fa-globe"></i>
			</div>
		</div>
	</div>
	<div class="w3-border-bottom" style="max-height: 75vh; overflow: auto;">
		<div data-ng-repeat="children in [edEl.children]"
			data-ng-include="'/f/c6/data_model_children.html'"></div>
		<p>&nbsp;</p>
	</div>
</div>