<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.12.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk-ua.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/f/js/app003.js"></script>
<script src="/f/c6/eh001.js"></script>
</head>
<body>
	<div class="w3-container">
		<div class="w3-border-bottom">
			<div class="w3-right" data-ng-include="'/f/btn-to-login.html'"></div>
			<span data-ng-include="'/f/home-link.html'" class="w3-small0"></span>
			<span class="am-b"> - {{ctrl.choice_data_model.s1value}} </span>
		</div>
		<div class="w3-border-bottom">
			<span class="w3-small am-b"> docs </span> <span
				data-ng-repeat=" d in ctrl.docs"> | <a href="?doc={{d.doc_id}}"
				data-ng-click="ctrl.set_choice_data_model(d)"
				data-ng-class="{'w3-green':ctrl.choice_data_model.doc_id==d.doc_id}"
				class="w3-hover-shadow"> <span class="w3-tiny">{{d.doc_id}}</span>
					{{d.s1value}}
			</a>&nbsp;
			</span>
		</div>
		<div data-ng-if="ctrl.choice_data_model">
			<div class="w3-row">
				<div class="w3-col w3-border-right" data-ng-style="ctrl.style.model_data_row">
					<div data-ng-if="ctrl.data_editor_opened()"
						data-ng-include="'/f/c6/data_editor.html'"></div>
					<div data-ng-if="!ctrl.data_editor_opened()"
						data-ng-include="'/f/c6/data_model.html'"></div>
				</div>
				<div class="w3-rest">
					<div data-ng-include="'/f/c6/doc_data.html'"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
