<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev3/icd10-001.js"></script>
</head>
<body class="w3-container">
	<div class="am-max-width-1 w3-card">
		<div class="w3-container w3-small">
			<span data-ng-include="'/f/home-link.html'"></span>
		</div>
		<div class="w3-row">
			<div class="w3-half w3-border">
				<div class="w3-card">
					Пошук: <input class="w3-border" data-ng-model="ctrl.seek_icd10_key"
						data-ng-change="ctrl.seekIcd10()">
				</div>
				<div data-ng-repeat="i in ctrl.read_seek_icd10">
					<div class="w3-hover-shadow">
						<span class="w3-tiny"> {{i.code}} </span> {{i.i18n}}
					</div>
				</div>
			</div>
			<div class="w3-half w3-border">
				<div data-ng-repeat="e in [ctrl.icd10]"
					data-ng-include="'/f/dev3/icd10-children.html'"></div>
			</div>
		</div>
	</div>
</body>
</html>