<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev3/icpc2-icd10-relation-001.js"></script>
</head>
<body class="w3-container">
	<div class="am-max-width-1 w3-card">
		<div class="w3-container w3-small">
			<span data-ng-include="'/f/home-link.html'"></span>
		</div>
		<div class="w3-center">
			Пошук: <input class="w3-border">
		</div>
		<div class="w3-row">
			<div class="w3-quarter w3-border-right ">
				<div class="w3-border-bottom w3-center">
					<i class="fas fa-object-group "></i> <span class="w3-border">
						<i class="fas fa-arrow-down w3-hover-shadow"></i> <span
						class="w3-hover-shadow"> ICPC2 </span>
					</span> &nbsp; <span class="w3-border"> <i
						class="fas fa-ad w3-hover-shadow"></i> <span
						class=" w3-hover-shadow">ICD10</span>
					</span>
				</div>
				<div class="w3-row w3-container1">
					<div class="w3-half w3-border-right">
						<div class="w3-tiny am-b w3-border-bottom w3-container1">&nbsp;Горох</div>
						<div data-ng-repeat="oName in ['icpc2icd10_goroch']"
							data-ng-include="'/f/dev3/icpc2-icd10-relation-table.html'">
						</div>
					</div>
					<div class="w3-half w3-border-bottom">
						<div class="w3-tiny am-b w3-border-bottom w3-container1">&nbsp;Оригінал</div>
						<div data-ng-repeat="oName in ['icpc2icd10_original']"
							data-ng-include="'/f/dev3/icpc2-icd10-relation-table.html'">
						</div>
					</div>
				</div>
			</div>
			<div class="w3-half w3-container">
				-*-<span class="w3-border w3-padding-small w3-tiny"
					data-ng-if="ctrl.db_icpc2.clickColor"> > <span
					data-ng-repeat="(kc,vc) in ctrl.db_icpc2.clickColorObject"
					data-ng-include="'/f/dev3/icpc2-db-color-element.html'"> </span>
				</span> <span class="w3-border w3-padding-small w3-tiny"
					data-ng-if="ctrl.db_icpc2.clickOrgan"> > <span
					data-ng-repeat="(kg,vg) in ctrl.db_icpc2.clickOrganObject"
					data-ng-include="'/f/dev3/icpc2-db-organ-element.html'"> </span>
					&nbsp;
					{{ctrl.db_icpc2.clickOrganObject[ctrl.db_icpc2.clickOrgan].i18n}}
				</span>
				<div>
					<div class="w3-border" data-ng-if="ctrl.eICPC2ICD10relationTable">
						> <span data-ng-repeat="e in [ctrl.eICPC2ICD10relationTable]"
							data-ng-init="icpc2Code=e.icpc2" class="w3-hover-shadow"
							data-ng-click="ctrl.clickICPC2ICD10relationTable(e)"
							data-ng-include="'/f/dev3/icpc2-code-colored.html'"></span> - <span
							data-ng-click="ctrl.clickICPC2ICD10relationView=!ctrl.clickICPC2ICD10relationView"
							class="w3-hover-shadow">
							{{ctrl.elementsMap[ctrl.eICPC2ICD10relationTable.reference].i18n}}
						</span>
					</div>
					<div data-ng-if="!ctrl.clickICPC2ICD10relationView">
						<div data-ng-repeat="icd10 in ctrl.eICPC2ICD10relationTableICD10">
							{{icd10.icd10}} - {{icd10.i18n}}</div>
					</div>
					<div data-ng-if="ctrl.icd10_with_ICPC2">
						<div data-ng-repeat="e in [ctrl.icd10_with_ICPC2]"
								data-ng-include="'/f/dev3/icd10-icpc2-children.html'"></div>
					</div>
				</div>
				<div data-ng-if="ctrl.icpc2_organs"
					data-ng-include="'/f/dev3/icpc2_organs_icd10.html'"></div>
			</div>
			<div class="w3-quarter w3-border-left">
				<div>
					<div class="w3-border-bottom w3-hover-shadow">Основне</div>
					-*-
				</div>
				<div>
					<div class="w3-border-bottom w3-hover-shadow">Різне</div>
					<div>
						<a href="/f/dev3/icpc2duodecim.html"> icpc2duodecim </a>
					</div>
					<div>
						<a href="/f/dev3/icpc2-001.html"> icpc2 </a>
						<div data-ng-include="'/f/dev3/icpc2-db-group-color.html'"></div>
					</div>
					<div>
						<a href="/f/dev3/icd10-001.html">icd10</a>
						<div>
							<span class="w3-btn w3-border w3-padding-small"
								data-ng-click="ctrl.click_ICD10_with_ICPC2()"> :: </span>
						</div>
					</div>
				</div>
				<div>
					<div class="w3-border-bottom w3-hover-shadow">Технічне</div>
					<div>
						<a
							href="http://localhost:8040/f/c4/dm/doc_manager.html?folderId=285584">
							<i class="fas fa-folder"></i> ICD10, ICPC2
						</a>
					</div>
					-*-
				</div>
			</div>
		</div>
	</div>
</body>
</html>