<div>
	<div data-ng-include="'/f/dev3/icpc2-db-group-color.html'"></div>
	<div class="w3-row w3-small">
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['Pr','A']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['B','D']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['F','H','K']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['L','N']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
	</div>
	<div data-ng-include="'/f/dev3/icpc2-db-group-color.html'"></div>
	<div class="w3-row w3-small">
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['P','R']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['S','T']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['U','W','X']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
		<div class="w3-quarter w3-border">
			<div data-ng-repeat="gn in ['Y','Z']">
				<div data-ng-repeat="g in [ctrl.db_icpc2.group[gn]]"
					data-ng-include="'/f/dev3/icpc2-db-group.html'"></div>
			</div>
		</div>
	</div>
</div>