<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.10.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.7/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.7/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.7/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev3/icpc2duodecim.js"></script>
</head>
<body class="w3-container">
	<div class="am-max-width-1 w3-card">
		<div class="w3-container w3-small">
			<span data-ng-include="'/f/home-link.html'"></span>
			<span data-ng-include="'/f/dev4/top-menu1.html'"></span>
		</div>
		<table class="w3-container">
			<tr>
				<th>icpc2</th>
				<th>duodecim</th>
			</tr>
			<tr data-ng-repeat="(icpc2Key,v) in ctrl.icp2duodecim">
				<td data-ng-class="{'w3-green':icpc2Key==ctrl.clicked.icpc2Key}"
					id="icpc2_{{icpc2Key}}">{{icpc2Key}}</td>
				<td>
					<div data-ng-if="v.primary" class="w3-border w3-leftbar">
						<span data-ng-repeat="protocols in [v.primary]"
							data-ng-include="'/f/dev3/protocol2icpc2.html'"> </span>
					</div>
					<div data-ng-if="v.secondary" class="w3-border w3-rightbar">
						<span class="w3-small"> вторинний: </span> <span
							data-ng-repeat="protocols in [v.secondary]"
							data-ng-include="'/f/dev3/protocol2icpc2.html'"> </span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>