<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="AppCtrl as ctrl"
	lang="uk-UA">
<head>
<link rel="shortcut icon" href="/f/img/algoritmed.ico" type="image/x-icon">
<meta charset="utf-8" />
<title>{{ctrl.page_title}}</title>
<link rel="stylesheet"
	href="/webjars/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/angularjs/1.7.9/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.9/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.9/i18n/angular-locale_uk.js"></script>
<script src="/f/js/app002.js"></script>
<script src="/f/dev3/icpc2-001.js"></script>
</head>
<body class="w3-container">
	<div class="am-max-width-1 w3-card">
		<div class="w3-container w3-small">
			<span data-ng-include="'/f/home-link.html'"></span> <span
				class="w3-right "> {{ctrl.viewType}}
				<button class="w3-btn w3-padding-small"
					data-ng-click="ctrl.viewType='dev'">dev</button>
				<button data-ng-click="ctrl.viewType='db'"
					class="w3-btn w3-padding-small">db</button>
			</span>
		</div>
		<div class="w3-tiny w3-container w3-right-align">ICPC-2
			–Українська Міжнародна Класифікація ПМД – 2 Видання</div>
		<div data-ng-include="'/f/dev3/icpc2-'+ctrl.viewType+'.html'"></div>
	</div>
</body>
</html>