<div>
	<input class="w3-border" data-ng-model="drug_list.seek"
		data-ng-change="drug_list.changeSeek()"> {{drug_list.seek}}
	<table>
		<thead>
			<tr class="w3-tiny w3-blue-gray">
				<th data-ng-repeat="(k,v) in drug_list.head">{{v}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat-start="row in drug_list.data"
				data-ng-click="drug_list.openRow(row)" class="w3-hover-shadow">
				<td data-ng-class="{'1w3-border w3-green':row.open}"><a
					ng-bind-html="highlight(row.inn+' ('+row.trade+')', drug_list.seek)"
					href="#"> </a></td>
				<td>{{row.cnt}}</td>
				<!-- 
				<td data-ng-repeat="(k,v) in drug_list.head"
					ng-bind-html="highlight(row[k], drug_list.seek)"></td>
				 -->
			</tr>
			<tr data-ng-repeat-end data-ng-if="row.open">
				<td class="w3-border w3-leftbar" colspan="3">{{row.reestr[0].n________6}}
					<ul>
						<li data-ng-repeat="r in row.reestr">
							<div class="w3-small">{{row.reestr2Map[r.id].ed_form}}
								{{row.reestr2Map[r.id].vint}} 
								{{row.reestr2Map[r.id].vfloat}} 
								{{row.reestr2Map[r.id].ed}}
								<span
								data-ng-if="row.reestr2Map[r.id].ed2"
								>
								/
								{{row.reestr2Map[r.id].vint2}} 
								{{row.reestr2Map[r.id].vfloat2}} 
								{{row.reestr2Map[r.id].ed2}}
								</span>
								</div>
							<div class="w3-tiny w3-right">{{r.n_______29}} -
								{{r.n_______30}}</div> {{r.n________3}}
							<div>{{r.n________5}}</div>
						</li>
					</ul> <!-- 
					<div class="w3-code w3-tiny">
					{{row}}
					</div>
					-->
				</td>
			</tr>
		</tbody>
	</table>
</div>