<a href="/f/login.html" class=" w3-btn w3-hover-shadow"
	title="{{principal.name}}"> <span class="w3-tiny"
	data-ng-switch="principal.name"> <span
		data-ng-if="principal.name" data-ng-switch-default> користувач</span>
		<span data-ng-switch-when="admin">адміністратор</span>
</span> <i ng-if="principal.name" class="fa fa-sign-out w3-large "
	aria-hidden="true"></i> <i ng-if="!principal.name"
	class="fa fa-sign-in w3-large " aria-hidden="true"></i>
</a>
<a title="нічний/дений вид {{pageVar.colortheme.theme}}" href="#" ng-click="app.colortheme.changeTheme()"
	class=" w3-btn w3-hover-shadow"> <i ng-if="pageVar.colortheme.theme!='night'"
	class="fa fa-toggle-off w3-large " aria-hidden="true"></i>
	<i ng-if="pageVar.colortheme.theme=='night'"
	class="fa fa-toggle-on w3-large " aria-hidden="true"></i>
</a>