<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<meta charset="utf-8" />
<title>форма № 025/о - Електронна медична картка амбулаторного хворого </title>
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.8/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.8/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.8/i18n/angular-locale_uk.js"></script>
<script src="/f/js/amk025-001.js"></script>
<script src="/f/amk025/start1.js"></script>
<body class="w3-container">
	<h1 class="w3-container w3-small">
		<a href="/"
			class=" w3-btn w3-border w3-padding-small w3-round-large w3-hover-shadow am-no-print">
			<i class="fa fa-home w3-large" aria-hidden="true"></i>
		</a> Електронна медична картка амбулаторного хворого (форма № 025/о)
	</h1>
	<div data-ng-repeat="o_1 in amk025_template.docRoot.children"
		data-ng-if="85115!=o_1.doc_id"
		data-ng-include="'/f/amk025/l1/doc_part2.html'"></div>
</body>
</html>